.abouttotal{
    background-color:#151853;
    padding-top: 8rem;
}

.heading{
    color: blueviolet;
    padding-bottom: 1rem;
}

.mid_heading{
    color: #151853;
}

.midabout{
background-color:#8A2BE2;
}

.desc{
    width: 100%;
}

#Abt_img{
border-radius:1.5rem;
margin: 1rem;
}