.navbar{
    /* background: rgb(10,128,225);
    background: linear-gradient(80deg, rgba(10,128,225,1) 27%, rgba(16,44,90,1) 73%); */
    height: 100px;
    width: 100%;
    padding: 1rem 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
}

.nav_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.sist_text{
    padding: 1rem;
    text-shadow: 2px 2px #00000083;
}

.sist_logo,.acm_logo{
    border-radius: 10px;
}

.nav_right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sep{
    border-left:5px solid white;
    height: 4rem;
    margin: 1.5rem 1rem;
}

@media screen and (max-width:450px){
    .sist_logo,.acm_logo{
        width: 40px;
        height: 40px;
    }
    .sist_text{
        font-size: .5rem;
        padding-left: .75rem;
    }
    .sep{
        height: 2rem;
    }
}

@media screen and (max-width:700px){
    .sist_text{
        font-size: .75rem;
        padding-left: .75rem;
    }
}

@media screen and (min-width:1200px){
    .sist_text{
        padding: .5rem;
    }
}